body {
    text-align: center;
    background: #12001a;
    color: #ff00c8;
}

.gamespace {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
}

.box {
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    background: #1f0033;
    border: 2px solid #ff00c8;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    transition: transform .1s, box-shadow .1s;
}

.reset {
    background: #1f0033;
    border: 2px solid #ff00c8;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    color: #ff00c8;
    cursor: pointer;
}

.reset:hover {
    background-color: rgb(85, 30, 110);
    transform: scale(1.05) rotate(1deg);
    box-shadow: 0 0 20px #ff00c8;
}

.box:hover {
    background-color: rgb(85, 30, 110);
    transform: scale(1.05) rotate(1deg);
    box-shadow: 0 0 20px #ff00c8;
}

.info {
    font-size: 2rem;
    font-weight: bold;
}